name: boot_console
description: "A new Flutter project."
publish_to: 'none'
version: 0.1.0

environment:
  sdk: ^3.9.0

dependencies:
  flutter:
    sdk: flutter
  supabase_flutter: ^2.10.0
  animations: ^2.0.11
  flutter_secure_storage: ^9.2.4
  google_fonts: ^6.3.0
  material_symbols_icons: ^4.2858.1

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true
